* {
    padding: 0px;
    margin: 0px;
}

.header {
width: 100%;
height: 40px;
display: flex;
flex-direction: row;
justify-content: left;
background-color: beige;
padding: 10px 0 0 40px;
background: #FFFFFF;
}

.logo {
    padding-top: 20px;
}